.App{
    display: flex;
    flex-direction: column;

}

.header-box{
    display: grid;
    grid-template-columns : 100px 100px 100px;
}

.field-box{
    display: inline-block;
}
table{
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}
tr{
    padding: 0;
    margin: 0;
}
td{
    padding: 0;
    margin: 0;
    /* width: 30px;
    height: 30px; */
    width: 16px;
    height: 16px;
}

.standard{
    background-image: url(../src/commons/props/common-pad.jpg);
    background-repeat: no-repeat;
}

.question{
    background-image: url(../src/commons/props/question-pad.jpg);
    background-repeat: no-repeat;
}

.flag{
    background-image: url(../src/commons/props/flag-pad.jpg);
    background-repeat: no-repeat;
}

.clear{
    background-image: url(../src/commons/props/action-common-pad.jpg);
    background-repeat: no-repeat;
}

.loos{
    background-image: url(../src/commons/props/boom-mine.jpg);
    background-repeat: no-repeat;
}

.mine{
    background-image: url(../src/commons/props/action-mine.jpg);
    background-repeat: no-repeat;
}

.mine-1{
    background-image: url(../src/commons/props/mine-1.jpg);
    background-repeat: no-repeat;
}
.mine-2{
    background-image: url(../src/commons/props/mine-2.jpg);
    background-repeat: no-repeat;
}
.mine-3{
    background-image: url(../src/commons/props/mine-3.jpg);
    background-repeat: no-repeat;
}
.mine-4{
    background-image: url(../src/commons/props/mine-4.jpg);
    background-repeat: no-repeat;
}
.mine-5{
    background-image: url(../src/commons/props/mine-5.jpg);
    background-repeat: no-repeat;
}
.mine-6{
    background-image: url(../src/commons/props/mine-6.jpg);
    background-repeat: no-repeat;
}
.mine-7{
    background-image: url(../src/commons/props/mine-7.jpg);
    background-repeat: no-repeat;
}
.mine-8{
    background-image: url(../src/commons/props/mine-8.jpg);
    background-repeat: no-repeat;
}