.App{
    display: flex;
    flex-direction: column;
}

.header-box{
    display: grid;
    grid-template-columns : 100px 100px 100px;
}
.header-timer, .header-counter{
    display: flex;
}
#counter0, #counter1, #timer0, #timer1, #timer2{
    height: 23px;
    width: 13px;
}
#resetButton{
    width: 26px;
    height: 26px;
}
.normal-smile{
    background-image: url(../src/commons/props/normal-smile.jpg);
    background-repeat: no-repeat;
}
.normal-smile:active{
    background-image: url(../src/commons/props/action-normal-smile.jpg);
    background-repeat: no-repeat;
}
.o-smile{
    background-image: url(../src/commons/props/O-smile.jpg);
    background-repeat: no-repeat;
}
.win-smile{
    background-image: url(../src/commons/props/best-smile.jpg);
    background-repeat: no-repeat;
}


.field-box{
    display: inline-block;
}
table{
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}
tr{
    padding: 0;
    margin: 0;
}
td{
    padding: 0;
    margin: 0;
    width: 16px;
    height: 16px;
}

.standard{
    background-image: url(../src/commons/props/common-pad.jpg);
    background-repeat: no-repeat;
}

.question{
    background-image: url(../src/commons/props/question-pad.jpg);
    background-repeat: no-repeat;
}

.flag{
    background-image: url(../src/commons/props/flag-pad.jpg);
    background-repeat: no-repeat;
}

.clear{
    background-image: url(../src/commons/props/action-common-pad.jpg);
    background-repeat: no-repeat;
}

.loos{
    background-image: url(../src/commons/props/boom-mine.jpg);
    background-repeat: no-repeat;
}

.mine{
    background-image: url(../src/commons/props/action-mine.jpg);
    background-repeat: no-repeat;
}

.mine-1{
    background-image: url(../src/commons/props/mine-1.jpg);
    background-repeat: no-repeat;
}
.mine-2{
    background-image: url(../src/commons/props/mine-2.jpg);
    background-repeat: no-repeat;
}
.mine-3{
    background-image: url(../src/commons/props/mine-3.jpg);
    background-repeat: no-repeat;
}
.mine-4{
    background-image: url(../src/commons/props/mine-4.jpg);
    background-repeat: no-repeat;
}
.mine-5{
    background-image: url(../src/commons/props/mine-5.jpg);
    background-repeat: no-repeat;
}
.mine-6{
    background-image: url(../src/commons/props/mine-6.jpg);
    background-repeat: no-repeat;
}
.mine-7{
    background-image: url(../src/commons/props/mine-7.jpg);
    background-repeat: no-repeat;
}
.mine-8{
    background-image: url(../src/commons/props/mine-8.jpg);
    background-repeat: no-repeat;
}

.number-0{
    background-image: url(../src/commons/props/img-0.jpg);
    background-repeat: no-repeat;
}
.number-1{
    background-image: url(../src/commons/props/img-1.jpg);
    background-repeat: no-repeat;
}
.number-2{
    background-image: url(../src/commons/props/img-2.jpg);
    background-repeat: no-repeat;
}
.number-3{
    background-image: url(../src/commons/props/img-3.jpg);
    background-repeat: no-repeat;
}
.number-4{
    background-image: url(../src/commons/props/img-4.jpg);
    background-repeat: no-repeat;
}
.number-5{
    background-image: url(../src/commons/props/img-5.jpg);
    background-repeat: no-repeat;
}
.number-6{
    background-image: url(../src/commons/props/img-6.jpg);
    background-repeat: no-repeat;
}
.number-7{
    background-image: url(../src/commons/props/img-7.jpg);
    background-repeat: no-repeat;
}
.number-8{
    background-image: url(../src/commons/props/img-8.jpg);
    background-repeat: no-repeat;
}
.number-9{
    background-image: url(../src/commons/props/img-9.jpg);
    background-repeat: no-repeat;
}